<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
   
    package="com.semaphore.standardsupply">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
	<uses-permission android:name="android.permission.ACCESS_SUPERUSER" /> 
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

<permission android:protectionLevel="signature"
    android:name="com.semaphore.standardsupply.permission.C2D_MESSAGE" />
<uses-permission android:name="com.semaphore.standardsupply.permission.C2D_MESSAGE" />

    <application
        
        android:name="SSApplication"  
          
        android:allowBackup="true"
        android:icon="@drawable/icon128"
        android:label="@string/app_name"
        android:theme="@style/SSActionBarTheme" >
         <meta-data
            android:name="android.support.UI_OPTIONS"
            android:value="splitActionBarWhenNarrow" />
      <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <activity
            android:name="com.semaphore.standardsupply.SendLog"
            android:theme="@android:style/Theme.Dialog"
            android:textAppearance="@android:style/TextAppearance.Large"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
              <action android:name="com.semaphore.standardsupply.SendLog" />
              <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.semaphore.standardsupply.activity.SplashActivity"
            android:noHistory="true"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.semaphore.standardsupply.activity.LoginActivity"
            android:label="@string/app_name"
            android:noHistory="false"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.semaphore.standardsupply.activity.ForgotPasswordActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.semaphore.standardsupply.activity.SignUpActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.semaphore.standardsupply.activity.HomeActivity"
            android:noHistory="false"
            android:windowSoftInputMode="adjustPan|adjustResize">
        </activity>
      <!--  <activity
            android:name="com.semaphore.standardsupply.activity.RLScanActivity"
            android:noHistory="false" >
        </activity>-->
        <activity
            android:name="com.semaphore.standardsupply.activity.CScanActivity"
            android:noHistory="false" >
        </activity>

        <service android:name="com.parse.PushService" />
        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.semaphore.standardsupply" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="a95f28a7d55348204797ef277c745b6da246bb60"
            />


    </application>

</manifest>